@font-face {
  font-family: "amsterdam";
  src: url("/public/fonts/newamsterdam-regular-webfont.woff2") format("woff2"),
    url("/public/fonts/newamsterdam-regular-webfont.woff") format("woff"),
    url("/public/fonts/NewAmsterdam-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
