:root {
  --box-x: 0rem;
  --box-y: 0rem;
  --text-x: 0rem;
  --text-y: 0rem;
}

body {
  margin: 0;
  padding: 0;
  background: #4c5056;
  overflow-x: hidden;
  max-width: 2000px;
}

.header {
  background-color: #b1adb1;
  width: 100vw;
  height: 56px;
  display: grid;
  grid-template-columns: min-content 1fr;
  position: relative;

  .logo {
    align-self: center;
    margin-left: 20px;
    height: 42px;
    width: 42px;
  }

  .companyName {
    font-family: "New Amsterdam", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 0 8px;
    padding: 0;
    align-self: center;
  }
}

.sectionWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(100vh - 70px) 50px 1fr;
  margin-top: 70px;
  max-width: 1800px;
}

.section1 {
  height: 100%;
  width: 100vw;
  max-height: 850px;
  min-height: 620px;
  max-width: 1800px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1/1/3/2;
}

section h2 {
  position: absolute;
  left: calc(var(--text-x) + 33%);
  top: calc(var(--text-y) + 28%);
  font-size: 5rem;
  width: 32rem;
  line-height: 3rem;
  letter-spacing: 0.4rem;
  font-family: "New Amsterdam", system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #83ff83;
}

@media screen and (max-width: 950px) {
  section h2 {
    left: calc(var(--text-x) + 25%);
    font-size: 4rem;
  }
}

@media screen and (max-width: 500px) {
  section h2 {
    left: calc(var(--text-x));

    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  section h2 {
    font-size: 3rem;
  }
}

.secondTextH2 {
  color: #e4ffe4 !important;
  color: var(--highlight-color);
  z-index: 1;
  left: calc((var(--text-x) + 33%) - var(--box-x));
  top: calc((var(--text-y) + 28%) - var(--box-y));
}

@media screen and (max-width: 950px) {
  .secondTextH2 {
    left: calc((var(--text-x) + 25%) - var(--box-x));
  }
}

@media screen and (max-width: 500px) {
  .secondTextH2 {
    left: calc(var(--text-x));

    width: 100%;
    text-align: center;
  }
}

section div.holder {
  position: relative;
  width: 100%;
  height: 100%;

  display: grid;
}

section div.pinkUFO,
section div.glow,
section div.image,
.mask {
  position: absolute;
  left: calc(var(--box-x));
  top: var(--box-y);
}

.greenUFO {
  background: no-repeat url("../images/greenUFO.svg");

  background-position: top left 2%;
  background-size: 100% 850px;
  width: 100%;
  height: 100%;
  grid-area: 1/1/2/2;
  max-width: 1800px;
}

.glow {
  background: no-repeat url("../images/greenGlow.png");

  background-size: 100% 500px;
  background-position: center bottom;
  width: 120vw;
  height: 100%;
  grid-area: 1/1/2/2;
  left: calc(var(--box-x) - 80px) !important;
}

@media screen and (max-width: 950px) {
  .glow {
    left: calc(var(--box-x)) !important;
  }
}

.image {
  background: no-repeat url("../images/mainAlienImage1.svg");
  background-position: top left 2%;
  background-size: 100% 850px;
  width: 100%;
  height: 100%;
  grid-area: 1/1/2/2;
  max-width: 1800px;
  /* -webkit-mask-image: url("../images/Vector69.svg");
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent); */
}

@media screen and (max-width: 950px) {
  .image {
    background: no-repeat url("../images/mainAlienImage_cell.svg");
    background-position: top left 2%;
    background-size: 100% 850px;
    width: 100%;
    height: 100%;
    grid-area: 1/1/2/2;
    max-width: 1800px;
    /* -webkit-mask-image: url("../images/Vector69.svg");
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent); */
  }
}

.strokeOnly {
  background: no-repeat url("../images/strokeOnly.svg");
  background-position: top left 2%;
  background-size: 100% 850px;
  width: 100%;
  height: 100%;
  grid-area: 1/1/2/2;
  max-width: 1800px;
  /* -webkit-mask-image: url("../images/Vector69.svg");
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent); */
}

@media screen and (max-width: 950px) {
  .strokeOnly {
    background: no-repeat url("../images/strokeOnly_cell.svg");
    background-position: top left 2%;
    background-size: 100% 850px;
    width: 100%;
    height: 100%;
    grid-area: 1/1/2/2;
    max-width: 1800px;
    /* -webkit-mask-image: url("../images/Vector69.svg");
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent); */
  }
}

.mask {
  -webkit-mask-image: url("../images/mainAlienImage1.svg");
  mask-repeat: no-repeat;
  mask-image: url("../images/mainAlienImage1.svg");
  mask-position: top left 2%;

  mask-size: 100% 850px;

  /*  background-position: top center; */
  width: 100%;
  height: 100%;
  max-width: 1800px;
  grid-area: 1/1/2/2;
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 950px) {
  .mask {
    -webkit-mask-image: url("../images/mainAlienImage_cell.svg");
    mask-repeat: no-repeat;
    mask-image: url("../images/mainAlienImage_cell.svg");
    mask-position: top left 2%;

    mask-size: 100% 850px;

    /*  background-position: top center; */
    width: 100%;
    height: 100%;
    max-width: 1800px;
    grid-area: 1/1/2/2;
  }
}

.section2 {
  height: 100vh;
  grid-area: 2/1/4/2;
  z-index: 1;
  background-color: #4c5056;
  border-top: 1px solid rgb(228, 255, 228);
}
